.image-container {
  position: relative;
  width: auto;
  height: 600px;
  background-color: #121212;
}

.image-src {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  
}

.test1 {
  width: 11em;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  font-size: 16px !important;
}

.text-container {
  overflow-y: scroll;
  overflow-x:hidden;
  border-radius: 15px;
  height: 600px;
  font-size: 8px !important;
  background-color: #121212;
}

.btn-copy {
  border-radius: 50px;
  background-color: rgba(85, 81, 81, 0.774);
  color: aliceblue;
}

.btn-copy:hover {
  border-radius: 50px;
  background-color: #e0d9db;
  color: rgb(226, 38, 85);
}

.chooser-container {
  border-radius: 10px;
  background-color: #121212;
}

.chooser-input {
  background-color: rgba(240, 248, 255, 0.774);
  border-radius: 10px;
}
